In [20]:
import ib_insync
from ib_insync import *
util.startLoop()

In [21]:
ib = IB()
ib.connect('192.168.86.3', 7497, clientId=11, timeout=10)
ib.positions()

[Position(account='U4315195', contract=Stock(conId=437113803, symbol='KRBN', exchange='ARCA', currency='USD', localSymbol='KRBN', tradingClass='KRBN'), position=5.0, avgCost=46.97326),
 Position(account='U4315195', contract=Stock(conId=320227565, symbol='PDBC', exchange='NASDAQ', currency='USD', localSymbol='PDBC', tradingClass='NMS'), position=1024.0, avgCost=18.70049355),
 Position(account='U4315195', contract=Stock(conId=490450360, symbol='PFIX', exchange='ARCA', currency='USD', localSymbol='PFIX', tradingClass='PFIX'), position=126.0, avgCost=55.5332103),
 Position(account='U3463371', contract=Stock(conId=490450360, symbol='PFIX', exchange='ARCA', currency='USD', localSymbol='PFIX', tradingClass='PFIX'), position=40.0, avgCost=55.2112125),
 Position(account='U3463371', contract=Stock(conId=521525019, symbol='BITO', exchange='ARCA', currency='USD', localSymbol='BITO', tradingClass='BITO'), position=-398.0, avgCost=12.2936412),
 Position(account='U3463371', contract=Stock(conId=6604766, symbol='EEM', exchange='ARCA', currency='USD', localSymbol='EEM', tradingClass='EEM'), position=-222.0, avgCost=40.32215855),
 Position(account='U3463371', contract=Option(conId=444932131, symbol='CCJ', lastTradeDateOrContractMonth='20230120', strike=17.0, right='P', multiplier='100', currency='USD', localSymbol='CCJ   230120P00017000', tradingClass='CCJ'), position=-2.0, avgCost=172.2978),
 Position(account='U3463371', contract=Option(conId=469098537, symbol='CCJ', lastTradeDateOrContractMonth='20230120', strike=30.0, right='C', multiplier='100', currency='USD', localSymbol='CCJ   230120C00030000', tradingClass='CCJ'), position=1.0, avgCost=312.0492),
 Position(account='U3463371', contract=Option(conId=444947932, symbol='DBA', lastTradeDateOrContractMonth='20230120', strike=19.0, right='C', multiplier='100', currency='USD', localSymbol='DBA   230120C00019000', tradingClass='DBA'), position=2.0, avgCost=240.59635),
 Position(account='U3463371', contract=Stock(conId=437113803, symbol='KRBN', exchange='ARCA', currency='USD', localSymbol='KRBN', tradingClass='KRBN'), position=2.0, avgCost=47.03495),
 Position(account='U3463371', contract=Stock(conId=8991562, symbol='IWD', exchange='ARCA', currency='USD', localSymbol='IWD', tradingClass='IWD'), position=-45.0, avgCost=147.44333555),
 Position(account='U3463371', contract=Stock(conId=41983555, symbol='DNN', exchange='AMEX', currency='USD', localSymbol='DNN', tradingClass='DNN'), position=1000.0, avgCost=1.2337026),
 Position(account='U3463371', contract=Stock(conId=8991557, symbol='IWF', exchange='ARCA', currency='USD', localSymbol='IWF', tradingClass='IWF'), position=-27.0, avgCost=225.3759037),
 Position(account='U3463371', contract=Stock(conId=25985141, symbol='AGG', exchange='ARCA', currency='USD', localSymbol='AGG', tradingClass='AGG'), position=-216.0, avgCost=100.75203935),
 Position(account='U3463371', contract=Stock(conId=320227565, symbol='PDBC', exchange='NASDAQ', currency='USD', localSymbol='PDBC', tradingClass='NMS'), position=479.0, avgCost=18.91076305),
 Position(account='U3463371', contract=Stock(conId=51529211, symbol='GLD', exchange='ARCA', currency='USD', localSymbol='GLD', tradingClass='GLD'), position=-55.0, avgCost=166.5067182),
 Position(account='U3601465', contract=Stock(conId=490450360, symbol='PFIX', exchange='ARCA', currency='USD', localSymbol='PFIX', tradingClass='PFIX'), position=207.0, avgCost=55.4706222),
 Position(account='U3601465', contract=Stock(conId=437113803, symbol='KRBN', exchange='ARCA', currency='USD', localSymbol='KRBN', tradingClass='KRBN'), position=9.0, avgCost=46.9571222),
 Position(account='U3601465', contract=Stock(conId=320227565, symbol='PDBC', exchange='NASDAQ', currency='USD', localSymbol='PDBC', tradingClass='NMS'), position=1830.0, avgCost=18.696384)]

In [26]:
contract = Stock('SPY', 'SMART', 'USD')

ib.reqHeadTimeStamp(contract, whatToShow='TRADES', useRTH=True)

datetime.datetime(1993, 1, 29, 9, 0)

In [28]:
bars = ib.reqHistoricalData(
        contract,
        endDateTime='',
        durationStr='365 D',
        barSizeSetting='1 day',
        whatToShow='TRADES',
        useRTH=True,
        formatDate=1)

In [29]:
ib.reqHeadTimeStamp(contract, whatToShow='TRADES', useRTH=True)

datetime.datetime(1993, 1, 29, 14, 30)

In [30]:
df = util.df(bars)

display(df.head())
display(df.tail())

         date    open    high     low   close     volume   average  barCount
0  2021-01-27  380.22  380.32  372.01  374.41  824013.82  376.1155    425176
1  2021-01-28  376.35  381.93  375.89  377.63  566183.05  379.5650    308505
2  2021-01-29  375.61  376.67  368.27  370.07  891254.84  371.9580    450584
3  2021-02-01  373.72  377.34  371.42  376.23  475904.11  375.1070    248781
4  2021-02-02  379.61  383.22  379.60  381.55  428277.52  382.0780    206927

           date    open    high     low   close     volume   average  barCount
360  2022-07-01  376.53  381.70  373.80  381.24  544227.12  377.9845    305919
361  2022-07-05  375.85  381.98  372.90  381.96  599357.20  376.9680    327463
362  2022-07-06  382.11  385.87  379.60  383.25  508193.11  382.4740    285984
363  2022-07-07  385.12  389.83  385.12  388.99  436231.68  387.9855    236374
364  2022-07-08  387.27  390.64  385.66  388.67  465708.68  388.6580    248321

Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1100, reqId -1: Connectivity between IB and Trader Workstation has been lost.
Error 1102, reqId -1: Connectivity between IB and Trader Workstation has been restored - data maintained. All data farms are connected: usfarm.nj; hfarm; usfuture; usopt; usfarm; euhmds; fundfarm; ushmds; secdefnj.
Peer closed connection.